.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-information {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-information {
  border: 1px solid black;
}

.avatar-bio {
  border: 1px solid black;
  position: relative;
  text-align: center;
}
