<h1> This are is the movies page </h1>
   
    <h3> <%= @data['Title']%></h3>
    <%= image_tag @data['Poster'] %>
    

<% @data.map do |key, value| %> 
    <h3> <%= key['Title']  %> </h3>

<% end %>


