<div class="container">
  
  <div class="row">
    <div class="col-sm-12 col-xl-6 profile-information">
      <h1>Hello <%= current_user.username %></h1>
    </div>
    <div class="col-sm-12 col-xl-6 avatar-bio">
      <h3> <%= image_tag 'popcorn.png', class: 'avatar'%></h3>
      <%= current_user.bio %>
    </div>
  </div>

  <div class="row">
  
    <div class="movie-card">
      <%= image_tag 'Sexybeast.png', class: 'movie-poster' %>

      <div class="overlay">
        <h3>Title</h3>
        <h4>Year</h4>
        <div> <h5>Lorem ipsum adipisicing elit. Consequatur molestiae assumenda quod, est sequi deleniti.</h5>
        </div>
      </div>
    </div>

  


 
</div>

