.container{
    border: 5px blue solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
 
}


.movies{
}


.box1{
    border: 1px red solid;

    background: lightblue;
    display: inline-block;
    justify-content: center;
    text-align: center;

}